*{
    margin:0;
    padding:0;
    margin-left:-5px;
}
html{
    height:100%;
    
}


body{
    background: rgb(151,159,172);
    background: linear-gradient(0deg, rgba(151,159,172,1) 0%, rgba(93,94,226,1) 100%, rgba(0,26,255,0.4374124649859944) 100%);
    
}

.nav1{
    gap:10px;
}
.name{
    color:white;
    font-family: 'Inter';
    font-style: italic;
    font-size: 40px;
    font-weight:500;
    margin-left:6%;
    margin-top:5%;
    
}

.line{
    margin-top:6%;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:right;
    gap:1%;
    margin-top:4.5%;
    margin-right:6%;

}

.box{
    color:blue;
    font-family: 'Inter';
    font-style: italic;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:100%;
    width: 10%;
    height: 70px;
    background: rgba(255,255,255,1);
    margin-top:-15%;
    border-top-right-radius: 50%;
    border-bottom-left-radius:50%;
    overflow: hidden;
    margin-right:1%;
    

}


.portfolio{
    color:white;
    font-family: 'Inter';
    font-style: italic;
    font-size: 200%;
    font-weight:200;
    margin-left:6%;

}

.text{
    color:white;
    font-family: 'Inter';
    font-style: italic;
    font-size: 140%;
    font-weight:10;
    margin-top:6%;
    margin-left:5.5%;

  
}

.ul1{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:right;
    gap:6%;
    margin-top:9%;
    margin-right: 8%;
    
}

.proyectos{
    color:white;
    font-family: 'Inter';
    font-style: italic;
    font-size: 200%;
    font-weight:200;
    margin-left:6%;
    
}

.div1{
    display:flex;
    justify-content:space-around;
    width:100%;
    gap:28%;
    margin-top:6%;
    
}

.wowland{
    width:20%;
    height:6%;
    border-radius:20%;

}
.wowland:hover{
    transform: scale(1.2);
}

.wowland2{
    width:30%;
    height:0%;
    border-radius:20%;
   
    
}
.wowland2:hover{
    transform:scale(1.2);
}

.title1{
    position: absolute;
    color:white;
    font-family: 'Inter';
    font-style: italic;
    font-size: 100%;
    font-weight:100;
    margin-right:3%;
    margin-left:6%;
    margin-top:-4%;
    align-self:flex-start;
   
}
.wowtitle{
    width:20%;
    height:22%;
    margin-right:20%;
    margin-left:6%;
    margin-top:4%;
 
}

.tdutitle{
    font-weight:100;
    margin-left:66%;
    margin-top:6%;
    width:26%;
    
}
 
.div2{
    display:flex;
    justify-content:space-around;
    
    gap:14%;
    margin-left:-4%;
    
}


.tduland{
    width:30%;
    height:44%;
    border-radius:20%;
    margin-left:4%;
    margin-top:10%;
}

.title2{
    position: absolute;
    color:white;
    font-family: 'Inter';
    font-style: italic;
    font-size: 100%;
    font-weight:100;
    margin-right:7%;
    margin-left:6%;
    margin: top 30%;;
    align-self:flex-start;
}

.tduland2{
    width:30%;
    height:40%;
    border-radius:20%;
   margin-top:10%;
}

.cstitle{
    font-weight:100;
    margin-left:6%;
    margin-top:9%;
    width:26%;
}
.cstext{
    position: absolute;
    color:white;
    font-family: 'Inter';
    font-style: italic;
    font-size: 100%;
    font-weight:100;
    margin-left:6%;
    align-self:flex-start;
}

.cspng{
    width:30%;
    height:40%;
    border-radius:20%;
    margin-left:870px;
    margin-top:6%
}

.cspng2{
    width:30%;
    height:20%;
    border-radius:20%;
    margin-left:6%;
    margin-top:-20%
}

.footer1{
    position: absolute;
    color:white;
    font-family: 'Inter';
    font-style: italic;
    font-size: 18px;
    font-weight:100;
    margin-top:100px;
    margin-left:48px;
    align-self:flex-start;
}